
/*  if I won't need a class container fluid then this parameter can be removed(div.container-fluid)   */
div.container-fluid { 
    margin: 0;
    padding: 0;
}

#left-div,
#right-div {
    
    height: 100%;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #left-div {
    background-image: url("muellim_axtar.png");
    width: 50.0%;
    float: left;
  }

  #right-div {
    background-image: url("kurs_axtar.png");
    width: 50.0%;
    float:right;
    
  }


  /* div.container-fluid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
    height: 100vh;
  }

  #left-div {
    background-color: blue;
   
  }

  #right-div {
    background-color: red;
     
  } 

  #first-div {
    background-color: rgb(14, 109, 138);
     
  } 
  #second-div {
    background-color: rgb(43, 54, 11);
     
  }  */